{
	"info": {
		"_postman_id": "1790789a-333e-4bb7-9aeb-b683b644067b",
		"name": "блок свой",
		"schema": "https://schema.getpostman.com/json/collection/v2.1.0/collection.json"
	},
	"item": [
		{
			"name": "User",
			"item": [
				{
					"name": "регистрация",
					"event": [
						{
							"listen": "test",
							"script": {
								"exec": [
									"var jsonData = pm.response.json();\r",
									"pm.collectionVariables.set('token', jsonData.token);"
								],
								"type": "text/javascript"
							}
						}
					],
					"protocolProfileBehavior": {
						"disabledSystemHeaders": {
							"accept": true
						}
					},
					"request": {
						"method": "POST",
						"header": [
							{
								"key": "Accept",
								"value": "application/json",
								"type": "default"
							}
						],
						"body": {
							"mode": "formdata",
							"formdata": [
								{
									"key": "name",
									"value": "1@1.com",
									"type": "default"
								},
								{
									"key": "email",
									"value": "1@21.com",
									"type": "default"
								},
								{
									"key": "password",
									"value": "1@1.com",
									"type": "default"
								},
								{
									"key": "password_confirmation",
									"value": "1@1.com",
									"type": "default"
								}
							]
						},
						"url": {
							"raw": "{{server}}/register",
							"host": [
								"{{server}}"
							],
							"path": [
								"register"
							]
						}
					},
					"response": []
				},
				{
					"name": "регистрация Copy",
					"event": [
						{
							"listen": "test",
							"script": {
								"exec": [
									"var jsonData = pm.response.json();\r",
									"pm.collectionVariables.set('token', jsonData.token);"
								],
								"type": "text/javascript"
							}
						}
					],
					"protocolProfileBehavior": {
						"disabledSystemHeaders": {
							"accept": true
						}
					},
					"request": {
						"auth": {
							"type": "bearer",
							"bearer": [
								{
									"key": "token",
									"value": "{{token}}",
									"type": "string"
								}
							]
						},
						"method": "GET",
						"header": [
							{
								"key": "Accept",
								"value": "application/json",
								"type": "default"
							}
						],
						"url": {
							"raw": "{{server}}/user",
							"host": [
								"{{server}}"
							],
							"path": [
								"user"
							]
						}
					},
					"response": []
				},
				{
					"name": "вход",
					"event": [
						{
							"listen": "test",
							"script": {
								"exec": [
									"var jsonData = pm.response.json();\r",
									"pm.collectionVariables.set('token', jsonData.token);"
								],
								"type": "text/javascript"
							}
						}
					],
					"protocolProfileBehavior": {
						"disabledSystemHeaders": {
							"accept": true
						}
					},
					"request": {
						"method": "POST",
						"header": [
							{
								"key": "Accept",
								"value": "application/json",
								"type": "default"
							}
						],
						"body": {
							"mode": "formdata",
							"formdata": [
								{
									"key": "email",
									"value": "1@1.com",
									"type": "default"
								},
								{
									"key": "password",
									"value": "1@1.com",
									"type": "default"
								}
							]
						},
						"url": {
							"raw": "{{server}}/login",
							"host": [
								"{{server}}"
							],
							"path": [
								"login"
							]
						}
					},
					"response": []
				},
				{
					"name": "выход",
					"protocolProfileBehavior": {
						"disabledSystemHeaders": {
							"accept": true
						}
					},
					"request": {
						"auth": {
							"type": "bearer",
							"bearer": [
								{
									"key": "token",
									"value": "{{token}}",
									"type": "string"
								}
							]
						},
						"method": "GET",
						"header": [
							{
								"key": "Accept",
								"value": "application/json",
								"type": "default"
							}
						],
						"url": {
							"raw": "{{server}}/logout",
							"host": [
								"{{server}}"
							],
							"path": [
								"logout"
							]
						}
					},
					"response": []
				}
			]
		},
		{
			"name": "Article",
			"item": [
				{
					"name": "создать",
					"event": [
						{
							"listen": "test",
							"script": {
								"exec": [
									"var jsonData = pm.response.json();\r",
									"pm.collectionVariables.set('id', jsonData.id);"
								],
								"type": "text/javascript"
							}
						}
					],
					"protocolProfileBehavior": {
						"disabledSystemHeaders": {
							"accept": true
						}
					},
					"request": {
						"auth": {
							"type": "bearer",
							"bearer": [
								{
									"key": "token",
									"value": "{{token}}",
									"type": "string"
								}
							]
						},
						"method": "POST",
						"header": [
							{
								"key": "Accept",
								"value": "application/json",
								"type": "default"
							}
						],
						"body": {
							"mode": "formdata",
							"formdata": [
								{
									"key": "title",
									"value": "dgdsgds",
									"type": "default"
								},
								{
									"key": "content",
									"value": "dgdsgds",
									"type": "default"
								}
							]
						},
						"url": {
							"raw": "{{server}}/articles",
							"host": [
								"{{server}}"
							],
							"path": [
								"articles"
							]
						}
					},
					"response": []
				},
				{
					"name": "полусить всё",
					"protocolProfileBehavior": {
						"disabledSystemHeaders": {
							"accept": true
						}
					},
					"request": {
						"auth": {
							"type": "bearer",
							"bearer": [
								{
									"key": "token",
									"value": "{{token}}",
									"type": "string"
								}
							]
						},
						"method": "GET",
						"header": [
							{
								"key": "Accept",
								"value": "application/json",
								"type": "default"
							}
						],
						"url": {
							"raw": "{{server}}/articles",
							"host": [
								"{{server}}"
							],
							"path": [
								"articles"
							]
						}
					},
					"response": []
				},
				{
					"name": "получить по id",
					"protocolProfileBehavior": {
						"disabledSystemHeaders": {
							"accept": true
						}
					},
					"request": {
						"auth": {
							"type": "bearer",
							"bearer": [
								{
									"key": "token",
									"value": "{{token}}",
									"type": "string"
								}
							]
						},
						"method": "GET",
						"header": [
							{
								"key": "Accept",
								"value": "application/json",
								"type": "default"
							}
						],
						"url": {
							"raw": "{{server}}/articles/{{id}}",
							"host": [
								"{{server}}"
							],
							"path": [
								"articles",
								"{{id}}"
							]
						}
					},
					"response": []
				},
				{
					"name": "получить по id без авторизации",
					"protocolProfileBehavior": {
						"disabledSystemHeaders": {
							"accept": true
						}
					},
					"request": {
						"method": "GET",
						"header": [
							{
								"key": "Accept",
								"value": "application/json",
								"type": "default"
							}
						],
						"url": {
							"raw": "{{server}}/articleOne/1",
							"host": [
								"{{server}}"
							],
							"path": [
								"articleOne",
								"1"
							]
						}
					},
					"response": []
				},
				{
					"name": "получить всё без авторизации",
					"protocolProfileBehavior": {
						"disabledSystemHeaders": {
							"accept": true
						}
					},
					"request": {
						"auth": {
							"type": "bearer",
							"bearer": [
								{
									"key": "token",
									"value": "{{token}}",
									"type": "string"
								}
							]
						},
						"method": "GET",
						"header": [
							{
								"key": "Accept",
								"value": "application/json",
								"type": "default"
							}
						],
						"url": {
							"raw": "{{server}}/articles/",
							"host": [
								"{{server}}"
							],
							"path": [
								"articles",
								""
							]
						}
					},
					"response": []
				},
				{
					"name": "Просмотр статей пользователя",
					"protocolProfileBehavior": {
						"disabledSystemHeaders": {
							"accept": true
						}
					},
					"request": {
						"auth": {
							"type": "bearer",
							"bearer": [
								{
									"key": "token",
									"value": "{{token}}",
									"type": "string"
								}
							]
						},
						"method": "GET",
						"header": [
							{
								"key": "Accept",
								"value": "application/json",
								"type": "default"
							}
						],
						"url": {
							"raw": "{{server}}/articleUser/{{id}}",
							"host": [
								"{{server}}"
							],
							"path": [
								"articleUser",
								"{{id}}"
							]
						}
					},
					"response": []
				},
				{
					"name": "обновить",
					"protocolProfileBehavior": {
						"disabledSystemHeaders": {
							"accept": true
						}
					},
					"request": {
						"auth": {
							"type": "bearer",
							"bearer": [
								{
									"key": "token",
									"value": "{{token}}",
									"type": "string"
								}
							]
						},
						"method": "PUT",
						"header": [
							{
								"key": "Accept",
								"value": "application/json",
								"type": "default"
							}
						],
						"url": {
							"raw": "{{server}}/articles/1?title=dgdsgds3434&content=dgdsgds",
							"host": [
								"{{server}}"
							],
							"path": [
								"articles",
								"1"
							],
							"query": [
								{
									"key": "title",
									"value": "dgdsgds3434"
								},
								{
									"key": "content",
									"value": "dgdsgds"
								}
							]
						}
					},
					"response": []
				},
				{
					"name": "удалить",
					"protocolProfileBehavior": {
						"disabledSystemHeaders": {
							"accept": true
						}
					},
					"request": {
						"auth": {
							"type": "bearer",
							"bearer": [
								{
									"key": "token",
									"value": "{{token}}",
									"type": "string"
								}
							]
						},
						"method": "DELETE",
						"header": [
							{
								"key": "Accept",
								"value": "application/json",
								"type": "default"
							}
						],
						"url": {
							"raw": "{{server}}/articles/1",
							"host": [
								"{{server}}"
							],
							"path": [
								"articles",
								"1"
							]
						}
					},
					"response": []
				}
			]
		}
	],
	"event": [
		{
			"listen": "prerequest",
			"script": {
				"type": "text/javascript",
				"exec": [
					""
				]
			}
		},
		{
			"listen": "test",
			"script": {
				"type": "text/javascript",
				"exec": [
					""
				]
			}
		}
	],
	"variable": [
		{
			"key": "server",
			"value": "http://127.0.0.1:8000/api",
			"type": "default"
		},
		{
			"key": "token",
			"value": ""
		},
		{
			"key": "id",
			"value": ""
		}
	]
}